nav{
    border: 1px solid green;
    height: 40px;
}

.Content{
    border: 1px solid red;
    display: flex;
    flex-direction: row;
    justify-content: space-around;


}

.Left{
    border : 3px solid green;

}

.Center{
    border : 3px solid blue;
}


.Right{
    border : 3px solid yellow;
}