nav{
    /* border: 4px solid purple; */
    height: 80px;
    background-color: #2E5266;
    


}


.Content{
    background-color: #9FB1BC;
}

.nav-bar-list{
    /* border: 1px solid yellowgreen; */
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}



.nav-bar-list-left{
    /* border: 1px solid yellowgreen; */
    display: flex;
    flex-direction: row;
}

.nav-bar-list-left i,p{
    padding: 5px;
}



.nav-bar-list-right{
    /* background-color: brown; */
    display: flex;
    flex-direction: column;
    /* padding: 10; */
}

.nav-bar-list-right i {
    padding-left: 25px;
}



.Content{
    /* border: 1px solid red; */
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    align-items: stretch;

    width: 100%;
  height: 100%;
  min-height: 325px; 
  max-height:570px; 

  /* border-bottom: none;*/


}


.left-content{
    /* border : 3px solid green; */
    flex: 1;
    /* display: flex;
    flex-direction: row;    */
    /* border : 3px solid blue; */

    display: flex;
    /* align-items: flex-start; */

}


.left-list-item-first{
    list-style-type:none;
    /* border :2px solid pink; */
    display: flex;
    align-items: row;
    align-items: flex-start;
    
}

.center-list-item{
    margin-top: 20px;
}

.Center{
    /* border : 3px solid blue; */
    flex: 2;
   /* border-bottom: none;*/

}


.Right{
    /* border : 3px solid yellow; */
    flex: 1;
    display: flex;
    flex-direction: column;
    align-items: center;
    

    /* border-bottom: none;*/

}

/* .left-content{
    border: 1px solid red;

} */



.left-list-item-first{
    list-style-type:none;
    /* border :2px solid pink; */
    display: flex;
    align-items: row;
    align-items: flex-start
}

.center-list-item{
    list-style-type:none;
    /* border :2px solid pink; */
    display: flex;
    align-items: row;
    align-items: flex-start
}


.center-list-item  {

    background-color: #D3D0CB;
}

.Right i{
    margin-top: 20px;
}